#menuToggle {
  margin-left: 2rem;
  margin-top: 2rem;
  display: grid;
  user-select: none;

  @media (--only-large-screen) {
    display: none;
  }
}

#menuToggle a {
  text-decoration: none;
  transition: color .3s ease;
}

#menuToggle input {
  display: block;
  width: 80px;
  height: 60px;
  margin-top: -2rem;
  margin-left: -2rem;
  cursor: pointer;
  grid-row: 1;
  grid-column: 1;
  opacity: 0; /* hide this */
  z-index: 99999; /* and place it over the hamburger */
}

.hamburger__menu__wrapper {
  grid-row: 1;
  grid-column: 1;
}

.span__item {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  border-radius: 3px;
  z-index: 2;
  transform-origin: 4px 0;
  transition:
    transform .5s cubic-bezier(.77, .2, .05, 1),
    background .5s cubic-bezier(.77, .2, .05, 1),
    opacity .55s ease;
  background: black;
}

.green {
  background: #019558;

}

.span__item:first-child {
  transform-origin: 0% 0%;
}

.span__item:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ div .span__item {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ div .span__item:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(.2, .2);
}

#menuToggle input:checked ~ div .span__item:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  z-index: 1;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform .5s cubic-bezier(.77, .2, .05, 1);
}

.menu__item__link {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 6rem;
  margin-top: 3rem;
  padding: 2rem;
  border-bottom: 2px solid black;
  color: black;

  @media (--only-large-screen) {
    display: flex;
    font-size: 1rem;
    text-transform: uppercase;
    padding: .8rem;
    color: black;
    margin: 1rem;
    width: 10rem;
    text-decoration: none;
  }
}

.menu__item__link:active {
  background: #019558;
}

#menuToggle input:checked ~ ul {
  transform: none;
}
