.position__absolute {
  position: absolute;
  left: 6rem;
  top: 6rem;
}

.book__article {
  margin-top: 8rem;
}

.book__name {
  font-size: 1.5rem;
  font-weight: var(--fontWeightBold);
}

@media (--only-large-screen) {

  .position__absolute {
    position: absolute;
    left: 3rem;
    top: 10rem;
  }

  .book__article {
    margin-top: 0;
  }
}
