.navigation__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
}

.header__title__logo {
  padding-left: .2rem;
  padding-right: .2rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: var(--colorMain);
  font-size: 2rem;
  font-weight: var(--fontWeightBold);
  color: white;
}

.header__title__logo__link {
  text-decoration: none;
  color: var(--colorText);
}
