.input__button {
  width: 15rem;
  margin: 1.3rem;
  border: none;
  background-color: var(--colorMain);
  height: 2rem;
  text-transform: uppercase;
  font-weight: var(--fontWeightBold);
  color: white;

  @media (--only-large-screen) {
    margin: 0;
    margin-top: 2rem;
  }

}

.input__Ebook {
  background-color: white;
  border: 2px solid var(--colorMain);
  color: var(--colorMain);
}

.buttonHumoTrans {
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: var(--colorMain);
  font-weight: var(--fontWeightBold);
  text-decoration: none;
  text-transform: uppercase;
}

.buttonHumoRed__link {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: var(--colorMain);
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: var(--fontWeightBold);
  margin-top: var(--spacerSmall);
}

.button__abbo {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 2rem;
  width: 16rem;
}

.remove__button {
  border: none;
  text-decoration: underline;
  color: var(--colorMain);
  font-size: 1.3rem;
}

.longread__button {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: .2rem;
  padding-bottom: .2rem;
  margin-bottom: 0;
  margin-left: 3rem;
  text-decoration: none;
  font-size: 1rem;
}

.input__BuyNow {
  font-size: 1rem;
}
