.input__button {
  width: 15rem;
  margin: 1.3rem;
  border: none;
  background-color: var(--colorMain);
  height: 2rem;
  text-transform: uppercase;
  font-weight: var(--fontWeightBold);
  color: white;

}

.input__Ebook {
  background-color: white;
  border: 2px solid var(--colorMain);
  color: var(--colorMain);
}

