.input__button {
  width: 15rem;
  margin: 1.3rem;
  border: none;
  background-color: var(--colorMain);
  height: 2rem;
  text-transform: uppercase;
  font-weight: var(--fontWeightBold);
  color: white;
  cursor: pointer;

  @media (--only-large-screen) {
    margin: 0;
    margin-top: 2rem;
  }

}

.input__Ebook {
  background-color: white;
  border: 2px solid var(--colorMain);
  color: var(--colorMain);
  transition: .3s cubic-bezier(.17, .88, .32, 1.27);
}

.input__Ebook:hover {
  background-color: var(--colorMain);
  color: white;
}

.buttonHumoTrans {
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: white;
  display: flex;
  justify-content: center;
  font-weight: var(--fontWeightBold);
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--colorMain);
  width: 100%;
  height: 100%;
  transition: .3s cubic-bezier(.6, -.28, .73, .04);
}

.buttonHumoTrans:hover {
  background-color: white;
  color: var(--colorMain);
}

.buttonHumoRed__link {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: var(--colorMain);
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: var(--fontWeightBold);
  margin-top: var(--spacerSmall);
  transition: .3s cubic-bezier(.6, -.28, .73, .04);
  border: 2px solid var(--colorMain);
}

.buttonHumoRed__link:hover {
  background-color: white;
  color: var(--colorMain);
}

.button__abbo {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 2rem;
  width: 16rem;
}

.remove__button {
  border: none;
  text-decoration: underline;
  color: var(--colorMain);
  font-size: 1.3rem;
}

.longread__button {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: .2rem;
  padding-bottom: .2rem;
  margin-bottom: 0;
  margin-left: 3rem;
  text-decoration: none;
  font-size: 1rem;
}

.input__BuyNow {
  font-size: 1rem;
  transition: .3s cubic-bezier(.17, .88, .32, 1.27);
  border: 2px solid var(--colorMain);
}

.input__BuyNow:hover {
  background-color: white;
  color: var(--colorMain);
}

.button__abbo__border {
  background-color: white;
  border: 2px solid var(--colorMain);
  color: var(--colorMain);
  margin-bottom: 10rem;
  display: flex;
  justify-content: center;
}

.abbo__button__container {
  display: flex;
  justify-content: center;
}
