.section__future {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;

  @media (--only-large-screen) {
    text-align: left;
  }
}

.section__future__title {
  color: var(--colorMain);
  font-weight: var(--fontWeightBold);
  font-size: var(--fontTitle);
  margin-bottom: var(--spacerBig);
  margin-top: var(--spacerBig);

}

.section__future__paragraph {
  line-height: 1.8rem;
  margin-bottom: var(--spacerSmall);
  font-size: var(--fontRegular);
}

.discount {
  margin-top: var(--spacerBig);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--colorMain);
  text-align: center;
  height: 8rem;
  margin-bottom: var(--spacerBig);
}

.discount__paragraph__strong {
  color: var(--colorText);
  font-weight: var(--fontWeightBold);
  margin-bottom: var(--spacerSmall);
  font-size: var(--fontRegular);
}

.discount__paragraph {
  color: var(--colorText);

}

.section__title {
  display: flex;
  justify-content: center;
  font-size: var(--fontTitle);
  text-transform: uppercase;
  font-weight: var(--fontWeightBold);
  margin-bottom: var(--spacerBig);
}

.book__article {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5rem;

  @media (--only-large-screen) {
    align-items: flex-start;
  }
}

.previous__image {
  transform: rotate(180deg);
}

.button__previousAndNext, .previous__next__buttons {
  margin: var(--spacerSmall);
}

.book__article__image__wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  overflow-x: scroll;
  grid-column: 3/5;
  width: 100%;
}

.book__info {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;

  @media (--only-large-screen) {
    align-items: flex-start;
    text-align: left;
  }
}

.info__item {
  margin: var(--spacerSmall);
  line-height: 1.8rem;
}

.book__title {
  font-size: var(--fontBig);
  font-weight: var(--fontWeightBold);
}

.practicall__info {
  color: var(--colorMain);
}

.practicall__info__price {
  font-weight: var(--fontWeightBold);
  font-size: 3rem;
  margin-right: var(--spacerSmall);
}

.div__images {
  display: flex;
  align-items: flex-end;
}

.header__image__book {
  width: 18rem;
  margin-right: 2rem;
}

.landingpage__form {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (--only-large-screen) {
    align-items: flex-start;
  }
}

.input__number {
  width: 1.5rem;
  height: 2rem;
  border: 2px solid var(--colorMain);
}

.label__quantity {
  font-size: 1.5rem;
  font-weight: var(--fontWeightBold);
}

/* tweede sectie landing page */

.secondSection {
  margin-bottom: 5rem;
}

.product__images__overview {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

.product__image__overview__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--colorMain);
  margin: var(--spacerBig);
}

.product__information__overview {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.product__information__overview__paragraph, .product__information__overview__title {
  text-align: center;
}

.product__name__overview {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: var(--colorMain);
  font-weight: var(--fontWeightBold);
}

.scroll__hor {
  color: var(--colorMain);
}

.previous__next__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (--only-large-screen) {

  .thirdSection {
    margin-left: 10rem;
    margin-right: 10rem;
  }

  .previous__next__buttons {
    grid-column: 2/6;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

.abbonement__paragraph__container {
  background-color: var(--colorMain);
}

.abbonement__paragraph {
  color: white;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  text-align: center;
  margin-top: 4rem;
}

.section__title__abbo {
  padding-bottom: 1rem;
}

.overview__humo__abbo {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  margin-top: 4rem;
  margin-bottom: 10rem;
}

.humo__abbo__price__overview {
  color: white;
  font-size: 2rem;
}

.humo__overview__termijn {
  color: var(--colorMain);
  font-size: var(--fontBig);
  margin-bottom: .3rem;
  font-weight: var(--fontWeightBold);
}

.abbo__item {
  display: flex;
  flex-direction: column;
  margin: var(--spacerBig);

}

