.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--colorMain);
  height: 5rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer__logo {
  font-size: 3rem;
  font-weight: var(--fontWeightBold);
  color: white;
  text-transform: uppercase;
}

html {
  position: relative;
  min-height: 100%;
}

strong {
  font-weight: var(--fontWeightBold);
}

.has-js {
  display: none;
}

.error {
  color: black;
  margin-top: .4rem;
  margin-bottom: 1rem;

}

.box {
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin-bottom: 1rem;
}

.errorS {
  border: 2px solid var(--colorMain);
  color: var(--colorMain);
}

.infoS {
  border: 2px solid lightgreen;
  color: lightgreen;
}
@media (--only-large-screen) {

  .firstSection {
    display: grid;
    grid-template-columns: 10rem 20% 1fr 10rem;
    grid-template-rows: 3rem 10rem 30rem;
    grid-gap: 2rem;
  }

  .section__future {
    grid-column: 2;
    grid-row: 3;
  }

  .discount {
    grid-column: 2 / 4;
    grid-row: 2;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
  }

  .section__title {
    grid-column: 2 /4;
    grid-row: 1;

    @media (--only-large-screen) {
      border-bottom: 3px solid black;
      margin-bottom: 0;
    }
  }

  .book__article {
    grid-column: 3;
    grid-row: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .section__title__products {
    margin-left: 10rem;
    margin-right: 10rem;
    padding-bottom: 1rem;
  }

  .flexbox__wrapper {
    display: flex;
    margin-right: 10rem;
    margin-left: 10rem;
    align-items: center;
  }

}
