.digit {
  opacity: 0;
  transform: translateX(-40px);
  transition: all .6s ease-out;
}

.digit.visible {
  opacity: 1;
  transform: none;
}

.digit__right {
  opacity: 0;
  transform: translateX(+40px);
  transition: all .6s ease-out;
}

.digit__right.visible__right {
  opacity: 1;
  transform: none;
}

.scrollMagic {
  display: none;
}
