.accordion {
  background-color: var(--colorMain);
  color: white;
  font-weight: var(--fontWeightBold);
  padding: 18px;
  width: 80%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: .4s;
  display: flex;
  justify-content: center;
}

.input__container__pers {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
  font-size: 1rem;
}

.text__area__custom {
  width: 100%;
  border: 1px solid var(--colorMain);
}

.panel {
  padding: 0 18px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  background-color: white;
  overflow: hidden;
}

.text__area__panel {
  width: 60%;
  margin-top: 2rem;
}

.accordion__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.pers__title, .error__message {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 1rem;
  line-height: 1.8rem;
}

.pers__title {
  font-size: 1.8rem;
  font-weight: var(--fontWeightBold);
}

.error__message {
  color: var(--colorMain);
}
