
#menuToggle
{
  display: block;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  user-select: none;

  @media (--only-large-screen) {
    display: none;
  }
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: black;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 100vw;
  left: -2rem;
  top: 4rem;

  background: white;
  list-style-type: none;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}

.menu__item__link__hamburger {
  color: black;
  text-transform: uppercase;
  font-weight: var(--fontWeightBold);
  text-decoration: none;
}

.menu__item__link__hamburger--active {
  color: var(--colorMain);

}

.menu__item {
  border-bottom: 2px solid black;
  padding: 1rem;
}

.font-size-big-active {
  font-size: 5rem;
  font-size: 2.3rem;
  border-bottom: 1px solid var(--colorMain);

}

.menu__button__basket__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__item__choice {
  margin: var(--spacerBig);
}

.menu__item__button__link {
  text-decoration: none;
  font-weight: var(--fontWeightBold);
  text-transform: uppercase;
  border: 3px solid var(--colorMain);
  color: var(--colorMain);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  transition: .3s ease-in-out;
}

.menu__item__button__link:hover {
  background-color: var(--colorMain);
  color: white;
}

.menu__items__desktop__part {
  display: none;
}

.search_button {
  display: flex;
  align-items: center;
}

@media (--only-large-screen) {

  .menu__items__desktop__part {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
  }

  .header {
    background-color: #ededed;
  }

  .menu__item__desktop__link {
    color: black;
    text-decoration: none;
  }

  .menu__item__desktop__link--active {
    color: var(--colorMain);
  }

  .menu__item__desktop {
    background-color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

}
