.landing__page__headset {
  display: grid;
  grid-template-columns: 5% 1fr 5%;
  top: 15rem;
  margin: var(--spacerBig);

}

.headset__image {
  width: 100%;
  grid-row: 2;
  grid-column: 2;
}

.hero__text {
  color: white;
  text-align: center;
}

.green__title {
  color: var(--colorTitles);
  font-weight: var(--fontWeightBold);
  font-size: var(--fontTitle);
  text-transform: uppercase;
}

.hero__paragraph__sub {
  font-size: var(--fontMediumBig);
  text-transform: uppercase;
  font-weight: var(--fontWeightNormal);
}

.hero__paragraph__small {
  font-weight: var(--fontWeightLight: 200);
  font-size: var(--fontRegular);
  line-height: 2rem;
}

.hero__item {
  margin: var(--spacerRegular);
}
