
.section__title {
  color: var(--colorSecondary);
  width: 100%;
  font-weight: var(--fontWeightBold);
  font-size: var(--fontTitle);
  text-align: center;
  margin-bottom: var(--spacerBig);

  @media (--only-large-screen) {
    width: 15rem;
    text-align: left;
  }

}
