@font-face {
  font-family: sci-fi;
  src: url('/assets/fonts/ScifiAdventure.woff') format('woff1');
  src: url('/assets/fonts/ScifiAdventure.woff2') format('woff2');
}

body {
  font-family: var(--font);
  font-weight: 200;
  font-style: normal;
  background-color: black;
  font-display: auto;
}

